[submodule "themes/gohugo-theme-ananke"]
	path = themes/gohugo-theme-ananke
	url = git@github.com:budparr/gohugo-theme-ananke.git
[submodule "themes/hugo-universal-theme"]
	path = themes/hugo-universal-theme
	url = git@github.com:devcows/hugo-universal-theme.git
